{% extends 'layout/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        {% for p in product%}
        <div class="col-xs-12 col-md-3">
            <div class="overflow-hidden">
                <img class="card-img-top img-fluid w-100 h-100" src="{{p.image}}" alt="">
            </div>
            <div class="p-4 text-center border border-5 border-light border-top-0">
                <h4 class="mb-3">{{p.name}}</h4>
                <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiet</a>
                <a href="/products/{{p.id}}" class="btn btn-primary">Đặt phòng</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
