{% extends 'layout/base.html' %}

{% block title %}Giỏ hàng{% endblock %}

{% block content %}
<h1 class="text-center text-info mt-1">CHI TIẾT SẢN PHẨM</h1>

<div class="row">
    <div class="col-md-5 col-xs-12">
        <img src="{{product.image}}" class="img-fluid rounded" />
    </div>
    <div class="col-md-7 col-xs-12">
        <h1>{{ product.name }}</h1>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="form-group">
    <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Nội dung bình luận"></textarea>
    <input type="button" onclick="addComment({{product.id}})" value="Bình luận" class="btn btn-success mt-1" />
</div>
{% else %}
<p>Vui lòng <a href="/login?next=/products/{{product.id}}">đăng nhập</a> để bình luận!</p>
{% endif %}

<div class="mt-2" id="comments">
    {% for c in comments %}
    <div class="row alert alert-info">
        <div class="col-md-1">
            <img src="{{c.user.avatar}}" class="img-fluid rounded" />
        </div>
        <div class="col-md-11">
            <p>{{ c.content }}</p>
            <p>Bình luân lúc: <span class="my-date">{{ c.created_date }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("my-date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow();
    }
</script>

<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}
