{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Quên Mật Khẩu</h2>
                    <p class="card-text text-center">Vui lòng nhập địa chỉ email của bạn để đặt lại mật khẩu.</p>

                    <form method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Gửi Yêu Cầu Đặt Lại Mật Khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}