{% extends 'layout/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        {% for p in product%}
        <div class="col-xs-12 col-md-3" style="padding: 10px">
            <div class="card">
                <img class="card-img-top" src="{{p.image}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{p.price}} VND</p>
                    <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiet</a>
                    <a href="#" class="btn btn-primary">Dat Hang</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Why Choose Us</h1>
                    </div>
                    <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
                        diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                     style="width: 60px; height: 60px;">
                                    <i class="fa fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Quality</p>
                                    <h5 class="mb-0">Services</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                     style="width: 60px; height: 60px;">
                                    <i class="fa fa-user-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Creative</p>
                                    <h5 class="mb-0">Designers</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                     style="width: 60px; height: 60px;">
                                    <i class="fa fa-drafting-compass fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Free</p>
                                    <h5 class="mb-0">Consultation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                     style="width: 60px; height: 60px;">
                                    <i class="fa fa-headphones fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Customer</p>
                                    <h5 class="mb-0">Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="img/feature.jpg"
                         style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
