<div class="container-fluid text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s"
     style="background-color: #316CF4">
    <div class="container py-5 text-light">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Địa Chỉ</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Nhơn Đức, Nhà Bè, Ho Chi Minh City</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>HMK.hotel@gmail.com</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>+012 345 67890</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4 text-light">Dịch vụ</h4>
                <a class="btn btn-link text-light" href="">Xem Phòng</a>
                <a class="btn btn-link text-light" href="">Đặt Phòng</a>
                <a class="btn btn-link text-light" href="">Kiểm Tra Phòng</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Đường Dẫn Nhanh</h4>
                <a class="btn btn-link text-light" href="">Trang Chủ</a>
                <a class="btn btn-link text-light" href="">Về chúng tôi</a>
                <a class="btn btn-link text-light" href="">Đặt Phòng</a>
                <a class="btn btn-link text-light" href="">Xem phòng</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
